* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh; /* Para ocupar toda a altura da tela */
    background-image: url(Design\ sem\ nome.png); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* A imagem cobre toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}
.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Para centrar o conteúdo verticalmente */
    color: white; /* Cor do texto */
    text-align: center;
    padding: 20px; /* Espaçamento interno */
}

@media (max-width: 600px) {
    .conteudo {
        padding: 10px; /* Ajusta o padding em telas menores */
    }
}

header {
    background: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}