* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100px; 
    background-image: url(Design\ sem\ nome.png);
    background-size: cover; /* A imagem cobre toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}