* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh; /* Para ocupar toda a altura da tela */
    background-image: url(Design\ sem\ nome.png); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* A imagem cobre toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}
.conteudo {
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Para centrar o conteúdo verticalmente */
    color: white; /* Cor do texto */
    text-align: center;
    padding: 20px; /* Espaçamento interno */
}

@media (max-width: 600px) {
    .conteudo {
        padding: 10px; /* Ajusta o padding em telas menores */
    }
}
  
.amor{
    font-size: 200px;
    position: relative;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    top: 25px;
}

@media (max-width:600px){
  .amor{
    padding: 10px;
  }  

}


